.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightcoral;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.comps {
  width: 100vw;
  height: 500px;
}

.navBar {
  overflow: hidden;
  height: 75px;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navContents ul {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}
.navContents ul:hover {
  text-decoration-line: underline;
  text-decoration-color: yellow;
}

.navContents {
  display: flex;
  justify-content: flex-end;
}

.navWrapper {
  width: 90%;
}

.mainbody {
  display: flex;
  justify-content: center;
}

.name{
  display: flex;
  justify-content: center;
}

#HomePage {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* font-size: 50px; */
  color: white;
  padding-bottom: 200px;
  padding-top: 200px;
  /* background-color:lightcoral; */
  background-image: url(../src/assets/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.color {
  color: #cc9900;
  background-color: #404040;
  border-radius: 16px;
  font-size: 15px;
}

.me {
  height: 100%;
  width: 100%;
}

.meWrapper {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 300px;
}
/* .HomePageWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.myPic {
  display: flex;
  justify-content: center;
  padding-left: 500px;
}

#about {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#about p {
  display: flex;
  justify-content: center;
}

#aboutme {
  width: 500px;
  padding: 10px;
  font-size: 20px;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.logo {
  padding-left: 100px;
  text-align: center;
  color: #f2f2f2;
  margin-right: auto;
}

.contents a {
  display: flex;
  justify-content: center;
}

.contents p {
  display: flex;
  justify-content: center;
}

#projects {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.contents h6 {
  font-size: 15px;
}

.video {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

.inVideo {
  display: flex;
  flex-direction: column;
}

.inVideo a {
  display: flex;
  justify-content: center;
}

.inVideo p {
  display: flex;
  justify-content: center;
}

.inVideo h6 {
  font-size: 15px;
}
/*
.formHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
} */

#test {
  text-align: center;
}

.description {
  display: flex;
  justify-content: center;
}

.projectsPadding {
  padding-top: 200px;
}

.description {
  display: flex;
  flex-direction: column;
}

.description h5 {
  display: flex;
  justify-content: center;
}

.descriptionNoTitle {
  display: flex;
  justify-content: center;
}

#stackadonId {
  padding-left: 100px;
  padding-right: 100px;
}

.formbody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 200px;
}

.formbody h4 {
  display: flex;
  justify-content: center;
}

.form {
  /* display: flex;
  justify-content: center; */
  width: 1000px;
}

.formwrapper {
  display: flex;
  justify-content: center;
}

.labels {
  display: flex;
  flex-direction: column;
}

#msgBox {
  height: 300px;
}

.icons {
  padding-top: 20px;
}

.linkedIn {
  padding-right: 40px;
}

.resume {
  padding-left: 40px;
}

#viewResume a {
  color: white;
}

#viewResume a:hover {
  color: black;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.doubleWrap {
  display: flex;
  justify-content: center;
  width: 800px;
  background: rgba(16, 16, 16, 0.8);
}
